.page-wrapper {
    margin-top: 120px;  /* Опускаем под navbar */
    width: 100%;
}

.page-title {
    font-weight: bold;
    margin-bottom: 35px;
}

.form-wrapper {
    display: flex;
    justify-content: center;
}

.form-card {
    width: 100%;
    max-width: 900px; /* Красивый ограниченный размер */
    border-radius: 20px;
}
