  <!-- Navbar -->
<div class="container position-sticky z-index-sticky top-0"><div class="row"><div class="col-12">
<nav class="navbar navbar-expand-lg  blur blur-rounded top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
  <div class="container-fluid">
    <a class="navbar-brand font-weight-bolder ms-sm-3" href="{% url 'newspaper:index' %}" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom">
      🌐 Information Agency
    </a>
    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon mt-2">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </span>
    </button>
    <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0" id="navigation">
      <ul class="navbar-nav navbar-nav-hover ms-lg-12 ps-lg-5 w-100">
        <li class="nav-item mx-2">
          <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" aria-expanded="false" href="{% url 'newspaper:newspaper-list' %}">
            📰 Newspapers
          </a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" aria-expanded="false" href="{% url 'newspaper:topic-list' %}">
            🌍 Topics
          </a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" aria-expanded="false" href="{% url 'newspaper:redactor-list' %}">
            🧑‍💻 Redactors
          </a>

        <li class="nav-item ms-lg-auto my-auto ms-3 ms-lg-0">

          {% if user.is_authenticated %}
            <div class="container-fluid px-0 overflow-hidden">
              <span class=" navbar-text text-dark me-3" style="display:inline;">
                <a href="{% url 'newspaper:redactor-detail' user.id %}">👤 {{ user.username }}</a>
              </span>
              <form action="{% url 'logout' %}" method="post" style="display:inline;">
              {% csrf_token %}
                <button type="submit" class="btn bg-gradient-primary w-auto me-1 mb-0">Log Out</button>
              </form>
            </div>

          {% else %}
            <div class="container-fluid px-0 overflow-hidden">
                <button  onclick="window.location.href='{% url 'login' %}'" type="button" class="btn bg-gradient-primary w-auto me-1 mb-0">Log In</button>
              </div>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
</div></div></div>
